@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<hr />

<h3>Welcome to the Blazor Server Demo App!</h3>
<p>This Demo shows basic CRUD funtionality using Blazor components.</p>